body{
    background-color: rgb(255, 220, 180);

}
.div{
text-align:  start;
margin: 0 auto;
}
.component{
    margin: 0 5vw;
    display: flex;
    text-align: start;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 199, 150);
}
.component h2{
    text-align: center;
}
.component img{
    width: 20vw;
    margin-left: 5vw;
    padding: 2vw 0;
}
.info span{
    color: rgb(110, 74, 34);
}